/* .full-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .full-container {
    flex-direction: column;
  }
} */

.full-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 70% auto;
  grid-template-rows: 700px;
  /* background-image: url("./../../assets/background.jpg"); */

  /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
  /* grid-template-columns: 1fr minmax(50px, 25%); */

  /* grid-auto-flow: column; */
  /* grid-auto-columns: minmax(260px, 1fr); */
}

@media only screen and (max-width: 1440px) {
  .Chat-Window {
    margin-right: 0 !important;
    max-width: none !important;
  }

  .videoWrapper {
    margin-left: 0 !important;
  }

  .form-video-wrapper {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .full-container {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .Messages-Wrapper {
    max-height: 400px;
  }

  .Chat-Window {
    max-height: 495px;
    height: 100% !important;
    place-self: auto !important;
    justify-self: center !important;
    margin: 0 !important;
  }

  .videoWrapper {
    margin: auto 0 !important;
  }
}

.Chat-Window {
  background-color: #0e1621;
  height: 80%;
  color: white;
  width: 100%;
  /* min-width: 372px; */
  max-width: 400px;
  /* margin-top: 10px; */
  /* place-self: center; */
  place-self: flex-end;
  align-self: center;
  margin-right: 10px;
}

.Chat-Header {
  background-color: #0e1615;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Messages-Wrapper {
  /* height: 100%; */
  height: calc(100% - 7vh - 35px);
  background-color: #0e1621;
  overflow-x: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #434543;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Message-List {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

.Message-List li {
  padding: 5px 10px 10px;
  margin: 1px 40px;
  border-radius: 5px;
  max-width: 75%;
  width: fit-content;
  background-color: #182533;
  display: inline-flex;
  align-items: flex-end;
  word-break: break-all;
  overflow: auto;
}

.form-wrapper {
  height: 45px;
  display: flex;
  justify-content: space-around;
  background-color: #17212b;
  align-items: center;
}

.button-input {
  font-size: 25px;
  color: #5288c1;
}

.text-input {
  height: 50%;
  background-color: #17212b;
  border-color: #17212b !important;
  border-style: none;
  color: white;
  width: 82%;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
}

.text-input:focus {
  outline: none;
}

.videoWrapper {
  /* margin: auto 0 auto 10px; */
  /* place-self: center; */
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  /* align-items: center; */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-video-wrapper {
  margin: auto 0 auto 10px;
}

.video-id-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.group-logo {
  background-color: coral;
  border-radius: 50%;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.inside-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 400px !important;
  height: 400px !important;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
}
