.sent {
  align-self: flex-end;
  background-color: #2b5278 !important;
  margin: 1px 13px !important;
}

.first {
  margin-top: 5px !important;
}

.time {
  margin-left: 10px;
  margin-bottom: -5px;
  opacity: 60%;
}

.notification {
  padding: 1px 15px 3px;
  margin: 7px auto;
  border-radius: 20px;
  max-width: 75%;
  background-color: #182533;
  font-weight: 500;
}
